# dependencies
node_modules/

# env
.env
.env.test
.env.local
.env.*.local

# build output
dist/
build/
.next/
out/
*.tsbuildinfo

# prisma
apps/api/prisma/migrations/**/migration.sql.bak

# logs
npm-debug.log*
*.log

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store
Thumbs.db

# test coverage
coverage/
docs/brand/screens/*.png
